/* Contact.css */

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: url(../Images/home11.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .map-container {
    flex: 1;
    margin: 50px 20px 50px 20px;
    height: 400px;
  }
  
  .form-container {
    flex: 1;
    margin: 50px 20px 50px 20px;
  }
  
  .form-container h1 {
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #faa629;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  