/* slider.css */

.slider-container {
  width: 80%;
 
  overflow: hidden;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  .slider-container img {
    width: 300px;
    height: 180px;
    border-radius: 10px;
  }
  .offer-content2 button{
    background-color: #1b95ed;
    padding: 9px 20px;
    border: none;
    border-radius: 3px;
    color: aliceblue;
    font-weight: bold;
  }

 
  .offers{
    display: flex;
  }